.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 6rem; */
  padding-top: 128px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
}

.mainHead {
  max-width: 859px;
  margin-bottom: 57px;
}
.mainTitle {
  margin-bottom: 54px;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 97.222% */
  letter-spacing: -0.576px;
}
.mainText {
  color: #292e3d;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
}
.slider {
  position: relative;
  padding-bottom: 98px;
}
.sliderView {
  display: flex;
  /* width: 100%; */
  width: auto;
  margin-left: -40px;
  margin-right: -40px;
  overflow-x: auto;
  transition: all ease 0.3s;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sliderView::-webkit-scrollbar {
  display: none;
}
.sliderItem {
  cursor: pointer;
}
.sliderItem:hover .sliderItemTitle {
  color: #4fba67;
}
.sliderItemImage {
  width: 344px;
  height: 344px;
  object-fit: cover;
  margin-bottom: 32px;
}
.sliderDoubleItemImage {
  width: 688px;
  height: 344px;
  object-fit: cover;
  margin-bottom: 32px;
}
.sliderItemTitle {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 100% */
  letter-spacing: -0.056px;
}
.sliderItemText {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
}
.sliderButtonLeft,
.sliderButtonRight {
  position: absolute;
  bottom: 0;
  border: none;
  background: transparent;
  background-color: transparent;
}
.sliderButtonLeft {
  left: 16px;
}
.sliderButtonRight {
  right: 16px;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
